<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.controldeservicios_oficinademediosaudiovisuales">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlDeServiciosOficinaDeMediosAudiovisuales">

        <activity android:name=".RegistrarseActivity"
            android:theme="@style/tema_personalizado"></activity>

        <activity android:name=".RegistroEspera"
            android:theme="@style/tema_personalizado"></activity>

        <activity android:name=".RegistroFinalizado"
            android:theme="@style/tema_personalizado"></activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity android:name=".PrincipalActivity"
            android:theme="@style/tema_personalizado"
            />

        <activity
            android:name=".NuevosActivity"
            android:theme="@style/tema_personalizado">
        </activity>

        <activity android:name=".EntregadosActivity"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name=".EsperaActivity"
            tools:ignore="Instantiatable" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>